.mt-10{margin-top: 10px;}.mt-20{margin-top: 20px;}.mt-30{margin-top: 30px;}
.color-red:{color: #e54d42} /*嫣红*/
.color-orange{color: #f37b1d} /*桔橙*/
.color-yellow{color: #fbbd08} /*明黄*/
.color-olive{color: #8dc63f} /*橄榄*/
.color-green{color: #39b54a} /*森绿*/
.color-cyan{color: #1cbbb4} /*天青*/
.color-blue{color: #0081ff} /*海蓝*/
.color-purple{color: #6739b6} /*姹紫*/
.color-mauve{color: #9c26b0} /*木槿*/
.color-pink{color: #e03997}/*桃粉*/
.color-brown{color: #a5673f}/*棕褐*/
.color-grey{color: #8799a3}/*玄灰*/
.color-gray{color: #aaaaaa}/*草灰*/
.color-black{color: #333333}/*墨黑*/
.color-white{color: #ffffff}/*雅白*/